In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Train.csv')

test_df = pd.read_csv('new_test2.csv')
test_df2 = test_df.copy()

In [3]:
df.head()

,EmpID,EmpName,LanguageOfCommunication,Age,Gender,JobProfileIDApplyingFor,HighestDegree,DegreeBranch,GraduatingInstitute,LatestDegreeCGPA,...,CurrentCTC,ExpectedCTC,MartialStatus,EmpScore,CurrentDesignation,CurrentCompanyType,DepartmentInCompany,TotalLeavesTaken,BiasInfluentialFactor,FitmentPercent
0,11041,John,English,35,Male,JR85289,B.Tech,Electrical,Tier 1,7,...,21,26,Married,5,SSE,Enterprise,Design,20,YearsOfExperince,95.40
1,15079,William,English,26,Male,JR87525,B.Tech,Artificial Intelligence,Tier 3,7,...,15,19,Married,5,BA,MidSized,Engineering,6,NaN,67.09
2,18638,James,English,36,Female,JR87525,PhD,Computer Science,Tier 1,6,...,15,24,Single,5,SDE,MidSized,Engineering,19,Gender,91.26
3,3941,Charles,English,29,Female,JR87525,BCA,Information Technology,Tier 2,5,...,16,24,Married,5,SDE,Startup,Product,16,Gender,72.29
4,5936,George,English,25,Male,JR70175,Dual M.Tech,Computer Science,Tier 3,8,...,24,32,Married,5,SDE,Enterprise,Engineering,10,DegreeBranch,86.34

In [4]:
test_df.head()

,EmpID,EmpName,LanguageOfCommunication,Age,Gender,JobProfileIDApplyingFor,HighestDegree,DegreeBranch,GraduatingInstitute,LatestDegreeCGPA,...,GraduationYear,CurrentCTC,ExpectedCTC,MartialStatus,EmpScore,CurrentDesignation,CurrentCompanyType,DepartmentInCompany,TotalLeavesTaken,BiasInfluentialFactor
0,5664,Theo,Native,35,Male,JR85289,PhD,Information Technology,Tier 2,5,...,2016,27,34,Single,4,SDE,Enterprise,Finance,18,DegreeBranch
1,23568,Vernie,English,35,Male,JR85289,B.Tech,Information Technology,Tier 3,9,...,2009,29,33,Married,4,EM,Enterprise,Engineering,8,DegreeBranch
2,21490,Wendell,English,28,Male,JR87525,M.Tech,Artificial Intelligence,Tier 2,9,...,2019,18,25,Married,3,SDE,Startup,Engineering,18,MartialStatus
3,8363,West,Hindi,37,Male,JR87525,MS,Computer Science,Tier 2,8,...,2010,7,12,Single,5,DS,Enterprise,Product,17,None
4,6165,Alford,Hindi,36,Female,JR85289,PhD,Artificial Intelligence,Tier 2,7,...,2015,22,32,Married,4,SDE,Startup,Engineering,9,Gender

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13645 entries, 0 to 13644
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmpID                    13645 non-null  int64
 1   EmpName                  13645 non-null  object
 2   LanguageOfCommunication  13645 non-null  object
 3   Age                      13645 non-null  int64
 4   Gender                   13645 non-null  object
 5   JobProfileIDApplyingFor  13645 non-null  object
 6   HighestDegree            13645 non-null  object
 7   DegreeBranch             13645 non-null  object
 8   GraduatingInstitute      13645 non-null  object
 9   LatestDegreeCGPA         13645 non-null  int64
 10  YearsOfExperince         13645 non-null  int64
 11  GraduationYear           13645 non-null  int64
 12  CurrentCTC               13645 non-null  int64
 13  ExpectedCTC              13645 non-null  int64
 14  MartialStatus            13645 non-null  object
 15  EmpScore                 13645 non-null  int64
 16  CurrentDesignation       13645 non-null  object
 17  CurrentCompanyType       13645 non-null  object
 18  DepartmentInCompany      13645 non-null  object
 19  TotalLeavesTaken         13645 non-null  int64
 20  BiasInfluentialFactor    10309 non-null  object
 21  FitmentPercent           13645 non-null  float64
dtypes: float64(1), int64(9), object(12)
memory usage: 2.3+ MB

In [6]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8745 entries, 0 to 8744
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmpID                    8745 non-null   int64
 1   EmpName                  8745 non-null   object
 2   LanguageOfCommunication  8745 non-null   object
 3   Age                      8745 non-null   int64
 4   Gender                   8745 non-null   object
 5   JobProfileIDApplyingFor  8745 non-null   object
 6   HighestDegree            8745 non-null   object
 7   DegreeBranch             8745 non-null   object
 8   GraduatingInstitute      8745 non-null   object
 9   LatestDegreeCGPA         8745 non-null   int64
 10  YearsOfExperince         8745 non-null   int64
 11  GraduationYear           8745 non-null   int64
 12  CurrentCTC               8745 non-null   int64
 13  ExpectedCTC              8745 non-null   int64
 14  MartialStatus            8745 non-null   object
 15  EmpScore                 8745 non-null   int64
 16  CurrentDesignation       8745 non-null   object
 17  CurrentCompanyType       8745 non-null   object
 18  DepartmentInCompany      8745 non-null   object
 19  TotalLeavesTaken         8745 non-null   int64
 20  BiasInfluentialFactor    8745 non-null   object
dtypes: int64(9), object(12)
memory usage: 1.4+ MB

In [7]:
df.isnull().sum()

EmpID                         0
EmpName                       0
LanguageOfCommunication       0
Age                           0
Gender                        0
JobProfileIDApplyingFor       0
HighestDegree                 0
DegreeBranch                  0
GraduatingInstitute           0
LatestDegreeCGPA              0
YearsOfExperince              0
GraduationYear                0
CurrentCTC                    0
ExpectedCTC                   0
MartialStatus                 0
EmpScore                      0
CurrentDesignation            0
CurrentCompanyType            0
DepartmentInCompany           0
TotalLeavesTaken              0
BiasInfluentialFactor      3336
FitmentPercent                0
dtype: int64

In [8]:
df.corr()['FitmentPercent'].sort_values()

EmpID              -0.015999
Age                -0.014188
TotalLeavesTaken   -0.013438
YearsOfExperince   -0.008466
GraduationYear      0.008466
LatestDegreeCGPA    0.011049
ExpectedCTC         0.133717
CurrentCTC          0.139495
EmpScore            0.140494
FitmentPercent      1.000000
Name: FitmentPercent, dtype: float64

In [9]:
df['BiasInfluentialFactor'].unique()

array(['YearsOfExperince', nan, 'Gender', 'DegreeBranch',
       'CurrentCompanyType', 'MartialStatus', 'HighestDegree', 'EmpScore',
       'Ethinicity', 'LatestDegreeCGPA'], dtype=object)

In [10]:
df.columns

Index(['EmpID', 'EmpName', 'LanguageOfCommunication', 'Age', 'Gender',
       'JobProfileIDApplyingFor', 'HighestDegree', 'DegreeBranch',
       'GraduatingInstitute', 'LatestDegreeCGPA', 'YearsOfExperince',
       'GraduationYear', 'CurrentCTC', 'ExpectedCTC', 'MartialStatus',
       'EmpScore', 'CurrentDesignation', 'CurrentCompanyType',
       'DepartmentInCompany', 'TotalLeavesTaken', 'BiasInfluentialFactor',
       'FitmentPercent'],
      dtype='object')

In [11]:
# df = df.fillna('None')
df = df.dropna()

In [12]:
df['BiasInfluentialFactor'].unique()

array(['YearsOfExperince', 'Gender', 'DegreeBranch', 'CurrentCompanyType',
       'MartialStatus', 'HighestDegree', 'EmpScore', 'Ethinicity',
       'LatestDegreeCGPA'], dtype=object)

In [13]:
df.isnull().sum()

EmpID                      0
EmpName                    0
LanguageOfCommunication    0
Age                        0
Gender                     0
JobProfileIDApplyingFor    0
HighestDegree              0
DegreeBranch               0
GraduatingInstitute        0
LatestDegreeCGPA           0
YearsOfExperince           0
GraduationYear             0
CurrentCTC                 0
ExpectedCTC                0
MartialStatus              0
EmpScore                   0
CurrentDesignation         0
CurrentCompanyType         0
DepartmentInCompany        0
TotalLeavesTaken           0
BiasInfluentialFactor      0
FitmentPercent             0
dtype: int64

In [14]:
# df['Ethinicity'] = df['LanguageOfCommunication']
# test_df['Ethinicity'] = test_df['LanguageOfCommunication']

# df = df.drop('LanguageOfCommunication', axis=1)
# test_df = test_df.drop('LanguageOfCommunication', axis=1)

In [15]:
df = df.drop('EmpID', axis=1)
df = df.drop('EmpName', axis=1)
# df = df.drop('Age', axis=1)
# df = df.drop('Gender', axis=1)
df = df.drop('JobProfileIDApplyingFor', axis=1)
# df = df.drop('GraduationYear', axis=1)
# df = df.drop('MartialStatus', axis=1)


test_df = test_df.drop('EmpID', axis=1)
test_df = test_df.drop('EmpName', axis=1)
# test_df = test_df.drop('Age', axis=1)
# test_df = test_df.drop('Gender', axis=1)
test_df = test_df.drop('JobProfileIDApplyingFor', axis=1)
# test_df = test_df.drop('GraduationYear', axis=1)
# test_df = test_df.drop('MartialStatus', axis=1)

In [16]:
# df['BiasInfluentialFactor'] = df['BiasInfluentialFactor'].replace('Ethinicity', "None")

# test_df['BiasInfluentialFactor'] = test_df['BiasInfluentialFactor'].replace('Ethinicity', "None")

In [17]:
df['BiasInfluentialFactor'].unique()

array(['YearsOfExperince', 'Gender', 'DegreeBranch', 'CurrentCompanyType',
       'MartialStatus', 'HighestDegree', 'EmpScore', 'Ethinicity',
       'LatestDegreeCGPA'], dtype=object)

In [18]:
test_df['BiasInfluentialFactor'].unique()

array(['DegreeBranch', 'MartialStatus', 'None', 'Gender',
       'YearsOfExperince', 'HighestDegree', 'Ethinicity', 'EmpScore',
       'LatestDegreeCGPA', 'CurrentCompanyType'], dtype=object)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10309 entries, 0 to 13644
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   LanguageOfCommunication  10309 non-null  object
 1   Age                      10309 non-null  int64
 2   Gender                   10309 non-null  object
 3   HighestDegree            10309 non-null  object
 4   DegreeBranch             10309 non-null  object
 5   GraduatingInstitute      10309 non-null  object
 6   LatestDegreeCGPA         10309 non-null  int64
 7   YearsOfExperince         10309 non-null  int64
 8   GraduationYear           10309 non-null  int64
 9   CurrentCTC               10309 non-null  int64
 10  ExpectedCTC              10309 non-null  int64
 11  MartialStatus            10309 non-null  object
 12  EmpScore                 10309 non-null  int64
 13  CurrentDesignation       10309 non-null  object
 14  CurrentCompanyType       10309 non-null  object
 15  DepartmentInCompany      10309 non-null  object
 16  TotalLeavesTaken         10309 non-null  int64
 17  BiasInfluentialFactor    10309 non-null  object
 18  FitmentPercent           10309 non-null  float64
dtypes: float64(1), int64(8), object(10)
memory usage: 1.6+ MB

In [20]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8745 entries, 0 to 8744
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   LanguageOfCommunication  8745 non-null   object
 1   Age                      8745 non-null   int64
 2   Gender                   8745 non-null   object
 3   HighestDegree            8745 non-null   object
 4   DegreeBranch             8745 non-null   object
 5   GraduatingInstitute      8745 non-null   object
 6   LatestDegreeCGPA         8745 non-null   int64
 7   YearsOfExperince         8745 non-null   int64
 8   GraduationYear           8745 non-null   int64
 9   CurrentCTC               8745 non-null   int64
 10  ExpectedCTC              8745 non-null   int64
 11  MartialStatus            8745 non-null   object
 12  EmpScore                 8745 non-null   int64
 13  CurrentDesignation       8745 non-null   object
 14  CurrentCompanyType       8745 non-null   object
 15  DepartmentInCompany      8745 non-null   object
 16  TotalLeavesTaken         8745 non-null   int64
 17  BiasInfluentialFactor    8745 non-null   object
dtypes: int64(8), object(10)
memory usage: 1.2+ MB

In [21]:
df.select_dtypes(include='object')

test_df.select_dtypes(include='object')

,LanguageOfCommunication,Gender,HighestDegree,DegreeBranch,GraduatingInstitute,MartialStatus,CurrentDesignation,CurrentCompanyType,DepartmentInCompany,BiasInfluentialFactor
0,Native,Male,PhD,Information Technology,Tier 2,Single,SDE,Enterprise,Finance,DegreeBranch
1,English,Male,B.Tech,Information Technology,Tier 3,Married,EM,Enterprise,Engineering,DegreeBranch
2,English,Male,M.Tech,Artificial Intelligence,Tier 2,Married,SDE,Startup,Engineering,MartialStatus
3,Hindi,Male,MS,Computer Science,Tier 2,Single,DS,Enterprise,Product,None
4,Hindi,Female,PhD,Artificial Intelligence,Tier 2,Married,SDE,Startup,Engineering,Gender
...,...,...,...,...,...,...,...,...,...,...
8740,English,Female,B.Tech,Computer Science,Tier 1,Married,SDE,Startup,Design,Gender
8741,Hindi,Male,MS,Electrical,Tier 1,Married,BA,Startup,Design,HighestDegree
8742,English,Male,B.Tech,Computer Science,Tier 2,Married,SDE,Startup,Engineering,DegreeBranch
8743,English,Male,MS,Electrical and Electronics,Tier 1,Married,SSE,Enterprise,Design,None
8744,Native,Other,Dual M.Tech,Information Technology,Tier 2,Single,SDE,Startup,Engineering,LatestDegreeCGPA

In [22]:
my_object_df = df.select_dtypes(include='object')

my_object_test_df = test_df.select_dtypes(include='object')

In [23]:
my_numeric_df = df.select_dtypes(exclude='object')

my_numeric_test_df = test_df.select_dtypes(exclude='object')

In [24]:
df_objects_dummies = pd.get_dummies(my_object_df, drop_first=True)

test_df_objects_dummies = pd.get_dummies(my_object_test_df, drop_first=True)

In [25]:
df_objects_dummies

,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,Gender_Male,Gender_Other,HighestDegree_BCA,HighestDegree_Dual M.Tech,HighestDegree_Dual MBA,HighestDegree_M.Tech,HighestDegree_MCA,HighestDegree_MS,...,DepartmentInCompany_Finance,DepartmentInCompany_Product,BiasInfluentialFactor_DegreeBranch,BiasInfluentialFactor_EmpScore,BiasInfluentialFactor_Ethinicity,BiasInfluentialFactor_Gender,BiasInfluentialFactor_HighestDegree,BiasInfluentialFactor_LatestDegreeCGPA,BiasInfluentialFactor_MartialStatus,BiasInfluentialFactor_YearsOfExperince
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
4,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13639,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
13640,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
13642,1,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
13643,1,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13644,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [26]:
test_df_objects_dummies

,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,Gender_Male,Gender_Other,HighestDegree_BCA,HighestDegree_Dual M.Tech,HighestDegree_Dual MBA,HighestDegree_M.Tech,HighestDegree_MCA,HighestDegree_MS,...,DepartmentInCompany_Product,BiasInfluentialFactor_DegreeBranch,BiasInfluentialFactor_EmpScore,BiasInfluentialFactor_Ethinicity,BiasInfluentialFactor_Gender,BiasInfluentialFactor_HighestDegree,BiasInfluentialFactor_LatestDegreeCGPA,BiasInfluentialFactor_MartialStatus,BiasInfluentialFactor_None,BiasInfluentialFactor_YearsOfExperince
0,0,1,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,0,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8740,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8741,1,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
8742,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
8743,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
8744,0,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [27]:
df = pd.concat([my_numeric_df, df_objects_dummies], axis=1)

test_df = pd.concat([my_numeric_test_df, test_df_objects_dummies], axis=1)

In [28]:
df

,Age,LatestDegreeCGPA,YearsOfExperince,GraduationYear,CurrentCTC,ExpectedCTC,EmpScore,TotalLeavesTaken,FitmentPercent,LanguageOfCommunication_Hindi,...,DepartmentInCompany_Finance,DepartmentInCompany_Product,BiasInfluentialFactor_DegreeBranch,BiasInfluentialFactor_EmpScore,BiasInfluentialFactor_Ethinicity,BiasInfluentialFactor_Gender,BiasInfluentialFactor_HighestDegree,BiasInfluentialFactor_LatestDegreeCGPA,BiasInfluentialFactor_MartialStatus,BiasInfluentialFactor_YearsOfExperince
0,35,7,12,2009,21,26,5,20,95.40,0,...,0,0,0,0,0,0,0,0,0,1
2,36,6,6,2015,15,24,5,19,91.26,0,...,0,0,0,0,0,1,0,0,0,0
3,29,5,6,2015,16,24,5,16,72.29,0,...,0,1,0,0,0,1,0,0,0,0
4,25,8,2,2019,24,32,5,10,86.34,0,...,0,0,1,0,0,0,0,0,0,0
5,35,9,12,2009,25,29,4,10,93.23,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13639,31,4,8,2013,6,16,3,14,91.19,1,...,0,0,0,0,0,1,0,0,0,0
13640,25,7,2,2019,30,34,3,5,93.65,0,...,0,0,0,0,0,1,0,0,0,0
13642,37,8,11,2010,8,16,4,20,61.46,1,...,0,0,0,0,0,0,0,0,0,0
13643,24,4,1,2020,27,36,4,7,93.64,1,...,0,0,0,1,0,0,0,0,0,0
13644,35,7,12,2009,17,24,3,16,93.52,0,...,0,0,0,0,0,0,0,0,0,1

In [73]:
df = df.drop('BiasInfluentialFactor_Ethinicity', axis=1)

test_df = test_df.drop('BiasInfluentialFactor_None', axis=1)
test_df = test_df.drop('BiasInfluentialFactor_Ethinicity', axis=1)

KeyError: "['BiasInfluentialFactor_Ethinicity'] not found in axis"

In [74]:
df.columns

Index(['Age', 'LatestDegreeCGPA', 'YearsOfExperince', 'GraduationYear',
       'CurrentCTC', 'ExpectedCTC', 'EmpScore', 'TotalLeavesTaken',
       'FitmentPercent', 'LanguageOfCommunication_Hindi',
       'LanguageOfCommunication_Native', 'Gender_Male', 'HighestDegree_BCA',
       'HighestDegree_Dual M.Tech', 'HighestDegree_Dual MBA',
       'HighestDegree_M.Tech', 'HighestDegree_MCA', 'HighestDegree_MS',
       'HighestDegree_PhD', 'DegreeBranch_Computer Science',
       'DegreeBranch_Electrical', 'DegreeBranch_Electrical and Electronics',
       'DegreeBranch_Electronics', 'DegreeBranch_Information Technology',
       'GraduatingInstitute_Tier 2', 'GraduatingInstitute_Tier 3',
       'MartialStatus_Single', 'CurrentDesignation_DA',
       'CurrentDesignation_DE', 'CurrentDesignation_DS',
       'CurrentDesignation_EM', 'CurrentDesignation_SDE',
       'CurrentDesignation_SEM', 'CurrentDesignation_SSE',
       'CurrentCompanyType_MidSized', 'CurrentCompanyType_Startup',
       'DepartmentInCompany_Design', 'DepartmentInCompany_Engineering',
       'DepartmentInCompany_Finance', 'DepartmentInCompany_Product',
       'BiasInfluentialFactor_DegreeBranch', 'BiasInfluentialFactor_EmpScore',
       'BiasInfluentialFactor_Gender', 'BiasInfluentialFactor_HighestDegree',
       'BiasInfluentialFactor_LatestDegreeCGPA',
       'BiasInfluentialFactor_MartialStatus',
       'BiasInfluentialFactor_YearsOfExperince'],
      dtype='object')

In [75]:
df.corr()['FitmentPercent'].sort_values()

BiasInfluentialFactor_LatestDegreeCGPA    -0.297101
LatestDegreeCGPA                          -0.067560
TotalLeavesTaken                          -0.023989
HighestDegree_MCA                         -0.022586
MartialStatus_Single                      -0.019428
DepartmentInCompany_Engineering           -0.016414
HighestDegree_PhD                         -0.015221
DegreeBranch_Information Technology       -0.014641
DepartmentInCompany_Finance               -0.014397
HighestDegree_MS                          -0.009839
GraduationYear                            -0.009047
GraduatingInstitute_Tier 3                -0.008750
HighestDegree_Dual MBA                    -0.005406
DegreeBranch_Electrical and Electronics   -0.004111
CurrentDesignation_SDE                    -0.003717
CurrentDesignation_SSE                    -0.003579
DegreeBranch_Computer Science             -0.003055
CurrentDesignation_EM                     -0.002593
Age                                       -0.002060
HighestDegree_Dual M.Tech                 -0.001378
HighestDegree_M.Tech                      -0.000889
CurrentDesignation_DE                      0.002774
LanguageOfCommunication_Hindi              0.002987
LanguageOfCommunication_Native             0.003887
DepartmentInCompany_Product                0.006356
YearsOfExperince                           0.009047
DegreeBranch_Electrical                    0.010136
CurrentDesignation_SEM                     0.010228
HighestDegree_BCA                          0.013217
CurrentDesignation_DS                      0.014297
CurrentDesignation_DA                      0.014425
GraduatingInstitute_Tier 2                 0.014991
DegreeBranch_Electronics                   0.017115
BiasInfluentialFactor_Gender               0.022380
DepartmentInCompany_Design                 0.023970
BiasInfluentialFactor_MartialStatus        0.059840
BiasInfluentialFactor_HighestDegree        0.070394
BiasInfluentialFactor_YearsOfExperince     0.080812
CurrentCompanyType_MidSized                0.110812
BiasInfluentialFactor_EmpScore             0.120241
Gender_Male                                0.126833
EmpScore                                   0.154439
BiasInfluentialFactor_DegreeBranch         0.154638
ExpectedCTC                                0.165787
CurrentCTC                                 0.172986
CurrentCompanyType_Startup                 0.175374
FitmentPercent                             1.000000
Name: FitmentPercent, dtype: float64

In [32]:
X = df.drop('FitmentPercent', axis=1)

In [33]:
y = df['FitmentPercent']

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [36]:
from sklearn.preprocessing import MinMaxScaler

In [37]:
scaler = MinMaxScaler()

In [38]:
X_train = scaler.fit_transform(X_train)

In [39]:
X_test = scaler.transform(X_test)

In [40]:
X_train.shape

(7216, 46)

In [41]:
X_test.shape

(3093, 46)

In [42]:
test_df

,Age,LatestDegreeCGPA,YearsOfExperince,GraduationYear,CurrentCTC,ExpectedCTC,EmpScore,TotalLeavesTaken,LanguageOfCommunication_Hindi,LanguageOfCommunication_Native,...,DepartmentInCompany_Engineering,DepartmentInCompany_Finance,DepartmentInCompany_Product,BiasInfluentialFactor_DegreeBranch,BiasInfluentialFactor_EmpScore,BiasInfluentialFactor_Gender,BiasInfluentialFactor_HighestDegree,BiasInfluentialFactor_LatestDegreeCGPA,BiasInfluentialFactor_MartialStatus,BiasInfluentialFactor_YearsOfExperince
0,35,5,5,2016,27,34,4,18,0,1,...,0,1,0,1,0,0,0,0,0,0
1,35,9,12,2009,29,33,4,8,0,0,...,1,0,0,1,0,0,0,0,0,0
2,28,9,2,2019,18,25,3,18,0,0,...,1,0,0,0,0,0,0,0,1,0
3,37,8,11,2010,7,12,5,17,1,0,...,0,0,1,0,0,0,0,0,0,0
4,36,7,6,2015,22,32,4,9,1,0,...,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8740,26,10,3,2018,29,38,5,10,0,0,...,0,0,0,0,0,1,0,0,0,0
8741,27,10,1,2020,18,26,4,19,1,0,...,0,0,0,0,0,0,1,0,0,0
8742,27,7,4,2017,7,17,4,12,0,0,...,1,0,0,1,0,0,0,0,0,0
8743,33,7,7,2014,8,18,4,10,0,0,...,0,0,0,0,0,0,0,0,0,0
8744,26,9,3,2018,29,34,3,10,0,1,...,1,0,0,0,0,0,0,1,0,0

In [43]:
scaled_test_df = scaler.transform(test_df)

In [44]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

## Function for Running Multiple Models

In [45]:
def run_model(model, X_train, y_train, X_test, y_test):
    
    # Fit Model Training
    model.fit(X_train, y_train)
    
    # Get Metrics
    preds = model.predict(X_test)
    mae = mean_absolute_error(y_test, preds)
    rmse = np.sqrt(mean_squared_error(y_test, preds))
    print(f'MAE: {mae}')
    print(f'RMSE: {rmse}')

In [46]:
from sklearn.svm import SVR

In [47]:
# model = SVR()

# run_model(model, X_train, y_train, X_test, y_test)

In [48]:
from sklearn.ensemble import RandomForestRegressor

In [49]:
model = RandomForestRegressor()

run_model(model, X_train, y_train, X_test, y_test)

MAE: 5.148345198836082
RMSE: 6.351961494250853

In [50]:
from sklearn.ensemble import AdaBoostRegressor, BaggingRegressor, ExtraTreesRegressor, GradientBoostingRegressor, StackingRegressor, VotingRegressor

In [51]:
model = AdaBoostRegressor()

run_model(model, X_train, y_train, X_test, y_test)

MAE: 6.679056614651082
RMSE: 7.772866863482891

In [52]:
model = BaggingRegressor()

run_model(model, X_train, y_train, X_test, y_test)

MAE: 5.338844164241837
RMSE: 6.675195257385059

In [53]:
model = ExtraTreesRegressor()

run_model(model, X_train, y_train, X_test, y_test)

MAE: 5.30132072421597
RMSE: 6.586598810226229

In [54]:
model = GradientBoostingRegressor()

run_model(model, X_train, y_train, X_test, y_test)

MAE: 5.6233332190699485
RMSE: 6.677675161864722

In [55]:
from catboost import CatBoostRegressor

In [56]:
import xgboost as xgb

In [57]:
import lightgbm as lgb

In [58]:
# model = CatBoostRegressor()

# run_model(model, X_train, y_train, X_test, y_test)

In [59]:
model = xgb.XGBRegressor()

run_model(model, X_train, y_train, X_test, y_test)

MAE: 5.494499257750933
RMSE: 6.803703211726647

In [60]:
model = xgb.XGBRFRegressor()

run_model(model, X_train, y_train, X_test, y_test)

MAE: 5.300246314348775
RMSE: 6.414100749008042

In [61]:
model = lgb.LGBMRegressor()

run_model(model, X_train, y_train, X_test, y_test)

MAE: 5.168719471296296
RMSE: 6.310762514233396

In [62]:
model = lgb.LGBMRegressor(boosting_type='gbdt', n_estimators=45, max_depth=-1, learning_rate=0.1, num_leaves=31)

run_model(model, X_train, y_train, X_test, y_test)

MAE: 5.145971983336537
RMSE: 6.273372134790626

In [63]:
# gbdt, 31, -1, 0.1, 100

In [64]:
# param_grid = {'boosting_type': ['gbdt','dart','goss','rf'], 'num_leaves':[31, 40, 50, 75, 100],
#              'max_depth':[-1,-0.5,-0.2,0,0.2,0.5,1,10], 'learning_rate':[0.001,0.01,0.05,0.1,0.3,0.5,1],
#              'n_estimators':[100,500,1000,2000,3000,5000,10000]}

In [65]:
from sklearn.ensemble import StackingRegressor

In [72]:
estimators = [
    ('rf', RandomForestRegressor()),
    ('cb', CatBoostRegressor()),
    ('xgb', xgb.XGBRFRegressor()),
    ('xgbrf', xgb.XGBRFRegressor())
]

In [67]:
# stacking = StackingRegressor(estimators=estimators,final_estimator=lgb.LGBMRegressor(n_estimators=45))

In [71]:
# run_model(stacking, X_train, y_train, X_test, y_test)

In [69]:
test_preds = pd.DataFrame(model.predict(scaled_test_df), columns=['FitmentPercent'])
new_test_df = pd.concat([test_df2, round(test_preds, 2)], axis=1)

new_test_df = new_test_df[['EmpID', 'BiasInfluentialFactor', 'FitmentPercent']]
new_test_df.to_csv('predictions2.csv', index=False)

In [70]:
# final_predictions = final_predictions['BiasInfluentialFactor'].replace('None', '')