In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import spacy

In [2]:
nlp = spacy.load('en_core_web_lg')

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df.head()

,id,url_legal,license,excerpt,target,standard_error
0,c12129c31,NaN,NaN,When the young people returned to the ballroom...,-0.340259,0.464009
1,85aa80a4c,NaN,NaN,"All through dinner time, Mrs. Fayre was somewh...",-0.315372,0.480805
2,b69ac6792,NaN,NaN,"As Roger had predicted, the snow departed as q...",-0.580118,0.476676
3,dd1000b26,NaN,NaN,And outside before the palace a great garden w...,-1.054013,0.450007
4,37c1b32fb,NaN,NaN,Once upon a time there were Three Bears who li...,0.247197,0.510845

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2834 entries, 0 to 2833
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              2834 non-null   object
 1   url_legal       830 non-null    object
 2   license         830 non-null    object
 3   excerpt         2834 non-null   object
 4   target          2834 non-null   float64
 5   standard_error  2834 non-null   float64
dtypes: float64(2), object(4)
memory usage: 133.0+ KB

In [6]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
target,2834.0,-0.959319,1.033579,-3.676268,-1.690320,-0.912190,-0.202540,1.711390
standard_error,2834.0,0.491435,0.034818,0.000000,0.468543,0.484721,0.506268,0.649671

In [7]:
df.isnull().sum()

id                   0
url_legal         2004
license           2004
excerpt              0
target               0
standard_error       0
dtype: int64

In [8]:
# Number of words per sentence and getting the top most

def words_per_sentence1(text):
    lst = []
    doc = nlp(text)
    for sent in doc.sents:
        lst.append(len(sent))
    return max(lst)

In [9]:
# Number of words per sentence and getting the top most

def words_per_sentence2(text):
    lst = []
    doc = nlp(text)
    for sent in doc.sents:
        lst.append(len(sent))
    lst.sort(reverse=True)
    lst = lst[1:2]
    return max(lst)

In [10]:
# Number of words per sentence and getting the top most

def words_per_sentence3(text):
    lst = []
    doc = nlp(text)
    for sent in doc.sents:
        lst.append(len(sent))
    lst.sort(reverse=True)
    lst = lst[0:3]
    return min(lst)

In [11]:
(words_per_sentence3("Hello. How are you! Am good."))

2

In [12]:
df['words1'] = df['excerpt'].apply(words_per_sentence1)

In [13]:
df['words2'] = df['excerpt'].apply(words_per_sentence2)

In [14]:
df['words3'] = df['excerpt'].apply(words_per_sentence3)

In [15]:
df.head()

,id,url_legal,license,excerpt,target,standard_error,words1,words2,words3
0,c12129c31,NaN,NaN,When the young people returned to the ballroom...,-0.340259,0.464009,33,28,25
1,85aa80a4c,NaN,NaN,"All through dinner time, Mrs. Fayre was somewh...",-0.315372,0.480805,34,28,28
2,b69ac6792,NaN,NaN,"As Roger had predicted, the snow departed as q...",-0.580118,0.476676,43,32,27
3,dd1000b26,NaN,NaN,And outside before the palace a great garden w...,-1.054013,0.450007,69,45,41
4,37c1b32fb,NaN,NaN,Once upon a time there were Three Bears who li...,0.247197,0.510845,44,44,43

In [16]:
df.corr()['target']

target            1.000000
standard_error   -0.085981
words1           -0.371401
words2           -0.375218
words3           -0.331461
Name: target, dtype: float64

In [17]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
target,2834.0,-0.959319,1.033579,-3.676268,-1.690320,-0.912190,-0.202540,1.711390
standard_error,2834.0,0.491435,0.034818,0.000000,0.468543,0.484721,0.506268,0.649671
words1,2834.0,45.824629,18.396445,10.000000,34.000000,43.000000,54.000000,187.000000
words2,2834.0,34.808751,10.770139,9.000000,28.000000,34.000000,41.000000,95.000000
words3,2834.0,28.516231,7.795066,1.000000,24.000000,28.000000,33.000000,92.000000

In [18]:
# Getting the word count and then assigning a value against it accordingly

def words_to_target1(num):
    if num <=20:
        new_num = 1.5
    elif num > 20 and num <= 34:
        new_num = 0.5
    elif num > 34 and num <=43:
        new_num = -1
    elif num > 43 and num <=54:
        new_num = -2
    else:
        new_num = -3
    return new_num

In [19]:
# Getting the word count and then assigning a value against it accordingly

def words_to_target2(num):
    if num <=20:
        new_num = 1.5
    elif num > 20 and num <= 28:
        new_num = 0.5
    elif num > 28 and num <=34:
        new_num = -1
    elif num > 34 and num <=41:
        new_num = -2
    else:
        new_num = -3
    return new_num

In [20]:
# Getting the word count and then assigning a value against it accordingly

def words_to_target3(num):
    if num <=20:
        new_num = 1.5
    elif num > 20 and num <= 24:
        new_num = 0.5
    elif num > 24 and num <=28:
        new_num = -1
    elif num > 28 and num <=33:
        new_num = -2
    else:
        new_num = -3
    return new_num

In [21]:
df['words_to_target1'] = df['words1'].apply(words_to_target1)

In [22]:
df['words_to_target2'] = df['words2'].apply(words_to_target2)

In [23]:
df['words_to_target3'] = df['words3'].apply(words_to_target3)

In [24]:
df.head()

,id,url_legal,license,excerpt,target,standard_error,words1,words2,words3,words_to_target1,words_to_target2,words_to_target3
0,c12129c31,NaN,NaN,When the young people returned to the ballroom...,-0.340259,0.464009,33,28,25,0.5,0.5,-1.0
1,85aa80a4c,NaN,NaN,"All through dinner time, Mrs. Fayre was somewh...",-0.315372,0.480805,34,28,28,0.5,0.5,-1.0
2,b69ac6792,NaN,NaN,"As Roger had predicted, the snow departed as q...",-0.580118,0.476676,43,32,27,-1.0,-1.0,-1.0
3,dd1000b26,NaN,NaN,And outside before the palace a great garden w...,-1.054013,0.450007,69,45,41,-3.0,-3.0,-3.0
4,37c1b32fb,NaN,NaN,Once upon a time there were Three Bears who li...,0.247197,0.510845,44,44,43,-2.0,-3.0,-3.0

In [25]:
# df[df['words']<=34]['target'].sort_values()

In [26]:
# df[(df['words'] > 34) & (df['words'] <= 43)]['target'].sort_values()

In [27]:
# df[(df['words'] > 43) & (df['words'] <= 54)]['target'].sort_values()

In [28]:
# df[df['words'] ==187]['target']

In [29]:
# df['target'].sort_values(ascending=False)

In [30]:
# Number of characters per word and getting the top 3

def chars_per_word1(text):
    lst = []
    doc = nlp(text)
    for sent in doc.sents:
        for char in sent:
            lst.append(len(char))
    return max(lst)

In [31]:
# Number of characters per word and getting the top 3

def chars_per_word2(text):
    lst = []
    doc = nlp(text)
    for sent in doc.sents:
        for char in sent:
            lst.append(len(char))
    lst.sort(reverse=True)
    lst = lst[1:2]
    return max(lst)

In [32]:
# Number of characters per word and getting the top 3

def chars_per_word3(text):
    lst = []
    doc = nlp(text)
    for sent in doc.sents:
        for char in sent:
            lst.append(len(char))
    lst.sort(reverse=True)
    lst = lst[0:3]
    return min(lst)

In [33]:
chars_per_word1("How are you to a. how are you mans. My words.")

5

In [34]:
df['chars1'] = df['excerpt'].apply(chars_per_word1)

In [35]:
df['chars2'] = df['excerpt'].apply(chars_per_word2)

In [36]:
df['chars3'] = df['excerpt'].apply(chars_per_word3)

In [37]:
df.head()

,id,url_legal,license,excerpt,target,standard_error,words1,words2,words3,words_to_target1,words_to_target2,words_to_target3,chars1,chars2,chars3
0,c12129c31,NaN,NaN,When the young people returned to the ballroom...,-0.340259,0.464009,33,28,25,0.5,0.5,-1.0,10,10,10
1,85aa80a4c,NaN,NaN,"All through dinner time, Mrs. Fayre was somewh...",-0.315372,0.480805,34,28,28,0.5,0.5,-1.0,11,11,10
2,b69ac6792,NaN,NaN,"As Roger had predicted, the snow departed as q...",-0.580118,0.476676,43,32,27,-1.0,-1.0,-1.0,10,10,9
3,dd1000b26,NaN,NaN,And outside before the palace a great garden w...,-1.054013,0.450007,69,45,41,-3.0,-3.0,-3.0,12,10,9
4,37c1b32fb,NaN,NaN,Once upon a time there were Three Bears who li...,0.247197,0.510845,44,44,43,-2.0,-3.0,-3.0,8,8,6

In [38]:
df.corr()['target']

target              1.000000
standard_error     -0.085981
words1             -0.371401
words2             -0.375218
words3             -0.331461
words_to_target1    0.390374
words_to_target2    0.385425
words_to_target3    0.334926
chars1             -0.389452
chars2             -0.430493
chars3             -0.453601
Name: target, dtype: float64

In [39]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
target,2834.0,-0.959319,1.033579,-3.676268,-1.690320,-0.912190,-0.202540,1.711390
standard_error,2834.0,0.491435,0.034818,0.000000,0.468543,0.484721,0.506268,0.649671
words1,2834.0,45.824629,18.396445,10.000000,34.000000,43.000000,54.000000,187.000000
words2,2834.0,34.808751,10.770139,9.000000,28.000000,34.000000,41.000000,95.000000
words3,2834.0,28.516231,7.795066,1.000000,24.000000,28.000000,33.000000,92.000000
words_to_target1,2834.0,-1.280169,1.385218,-3.000000,-2.000000,-1.000000,0.500000,1.500000
words_to_target2,2834.0,-1.204834,1.424701,-3.000000,-2.000000,-1.000000,0.500000,1.500000
words_to_target3,2834.0,-1.120148,1.521738,-3.000000,-2.000000,-1.000000,0.500000,1.500000
chars1,2834.0,11.872971,1.880499,4.000000,11.000000,12.000000,13.000000,22.000000
chars2,2834.0,10.941426,1.637053,4.000000,10.000000,11.000000,12.000000,21.000000
chars3,2834.0,10.362385,1.494174,4.000000,9.000000,10.000000,11.000000,20.000000

In [40]:
# Getting the char count per word for each sentence and then assigning a value against it accordingly

def chars_to_target1(num):
    if num <9:
        new_num = 1.5
    elif num >= 9 and num <= 11:
        new_num = 0.5
    elif num > 11 and num <=12:
        new_num = -1
    elif num > 12 and num <=13:
        new_num = -2
    else:
        new_num = -3
    return new_num

In [41]:
# Getting the char count per word for each sentence and then assigning a value against it accordingly

def chars_to_target2(num):
    if num <9:
        new_num = 1.5
    elif num >= 9 and num <= 10:
        new_num = 0.5
    elif num > 10 and num <=11:
        new_num = -1
    elif num > 11 and num <=12:
        new_num = -2
    else:
        new_num = -3
    return new_num

In [42]:
# Getting the char count per word for each sentence and then assigning a value against it accordingly

def chars_to_target3(num):
    if num <8:
        new_num = 1.5
    elif num >= 8 and num <= 9:
        new_num = 0.5
    elif num > 9 and num <=10:
        new_num = -1
    elif num > 10 and num <=11:
        new_num = -2
    else:
        new_num = -3
    return new_num

In [43]:
df['chars_to_target1'] = df['chars1'].apply(chars_to_target1)

In [44]:
df['chars_to_target2'] = df['chars2'].apply(chars_to_target2)

In [45]:
df['chars_to_target3'] = df['chars3'].apply(chars_to_target3)

In [46]:
df.head()

,id,url_legal,license,excerpt,target,standard_error,words1,words2,words3,words_to_target1,words_to_target2,words_to_target3,chars1,chars2,chars3,chars_to_target1,chars_to_target2,chars_to_target3
0,c12129c31,NaN,NaN,When the young people returned to the ballroom...,-0.340259,0.464009,33,28,25,0.5,0.5,-1.0,10,10,10,0.5,0.5,-1.0
1,85aa80a4c,NaN,NaN,"All through dinner time, Mrs. Fayre was somewh...",-0.315372,0.480805,34,28,28,0.5,0.5,-1.0,11,11,10,0.5,-1.0,-1.0
2,b69ac6792,NaN,NaN,"As Roger had predicted, the snow departed as q...",-0.580118,0.476676,43,32,27,-1.0,-1.0,-1.0,10,10,9,0.5,0.5,0.5
3,dd1000b26,NaN,NaN,And outside before the palace a great garden w...,-1.054013,0.450007,69,45,41,-3.0,-3.0,-3.0,12,10,9,-1.0,0.5,0.5
4,37c1b32fb,NaN,NaN,Once upon a time there were Three Bears who li...,0.247197,0.510845,44,44,43,-2.0,-3.0,-3.0,8,8,6,1.5,1.5,1.5

In [47]:
df.corr()['target']

target              1.000000
standard_error     -0.085981
words1             -0.371401
words2             -0.375218
words3             -0.331461
words_to_target1    0.390374
words_to_target2    0.385425
words_to_target3    0.334926
chars1             -0.389452
chars2             -0.430493
chars3             -0.453601
chars_to_target1    0.396972
chars_to_target2    0.433457
chars_to_target3    0.463148
Name: target, dtype: float64

In [48]:
# sns.distplot(df['target'])

In [49]:
# sns.scatterplot(data=df,x='target',y='standard_error')

In [50]:
df.head()

,id,url_legal,license,excerpt,target,standard_error,words1,words2,words3,words_to_target1,words_to_target2,words_to_target3,chars1,chars2,chars3,chars_to_target1,chars_to_target2,chars_to_target3
0,c12129c31,NaN,NaN,When the young people returned to the ballroom...,-0.340259,0.464009,33,28,25,0.5,0.5,-1.0,10,10,10,0.5,0.5,-1.0
1,85aa80a4c,NaN,NaN,"All through dinner time, Mrs. Fayre was somewh...",-0.315372,0.480805,34,28,28,0.5,0.5,-1.0,11,11,10,0.5,-1.0,-1.0
2,b69ac6792,NaN,NaN,"As Roger had predicted, the snow departed as q...",-0.580118,0.476676,43,32,27,-1.0,-1.0,-1.0,10,10,9,0.5,0.5,0.5
3,dd1000b26,NaN,NaN,And outside before the palace a great garden w...,-1.054013,0.450007,69,45,41,-3.0,-3.0,-3.0,12,10,9,-1.0,0.5,0.5
4,37c1b32fb,NaN,NaN,Once upon a time there were Three Bears who li...,0.247197,0.510845,44,44,43,-2.0,-3.0,-3.0,8,8,6,1.5,1.5,1.5

In [51]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer,TfidfVectorizer

In [52]:
def CountVect(column, df):
    vect = CountVectorizer()
    
    train_feature = vect.fit_transform(df[column])
    train_feature = pd.DataFrame(train_feature.todense(), columns=[(column+str(i)) for i in range(len(vect.get_feature_names()))])
    df = pd.concat([df, train_feature], axis=1)
        
    return df

In [53]:
for column in ['excerpt']:
    df = CountVect(column,df)

In [54]:
df.head()

,id,url_legal,license,excerpt,target,standard_error,words1,words2,words3,words_to_target1,...,excerpt26823,excerpt26824,excerpt26825,excerpt26826,excerpt26827,excerpt26828,excerpt26829,excerpt26830,excerpt26831,excerpt26832
0,c12129c31,NaN,NaN,When the young people returned to the ballroom...,-0.340259,0.464009,33,28,25,0.5,...,0,0,0,0,0,0,0,0,0,0
1,85aa80a4c,NaN,NaN,"All through dinner time, Mrs. Fayre was somewh...",-0.315372,0.480805,34,28,28,0.5,...,0,0,0,0,0,0,0,0,0,0
2,b69ac6792,NaN,NaN,"As Roger had predicted, the snow departed as q...",-0.580118,0.476676,43,32,27,-1.0,...,0,0,0,0,0,0,0,0,0,0
3,dd1000b26,NaN,NaN,And outside before the palace a great garden w...,-1.054013,0.450007,69,45,41,-3.0,...,0,0,0,0,0,0,0,0,0,0
4,37c1b32fb,NaN,NaN,Once upon a time there were Three Bears who li...,0.247197,0.510845,44,44,43,-2.0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
df.columns

Index(['id', 'url_legal', 'license', 'excerpt', 'target', 'standard_error',
       'words1', 'words2', 'words3', 'words_to_target1',
       ...
       'excerpt26823', 'excerpt26824', 'excerpt26825', 'excerpt26826',
       'excerpt26827', 'excerpt26828', 'excerpt26829', 'excerpt26830',
       'excerpt26831', 'excerpt26832'],
      dtype='object', length=26851)

In [56]:
df.drop(['id', 'url_legal', 'license'], axis=1, inplace=True)

In [57]:
df.columns

Index(['excerpt', 'target', 'standard_error', 'words1', 'words2', 'words3',
       'words_to_target1', 'words_to_target2', 'words_to_target3', 'chars1',
       ...
       'excerpt26823', 'excerpt26824', 'excerpt26825', 'excerpt26826',
       'excerpt26827', 'excerpt26828', 'excerpt26829', 'excerpt26830',
       'excerpt26831', 'excerpt26832'],
      dtype='object', length=26848)

In [58]:
df['excerpt2']

0       0
1       0
2       0
3       0
4       0
       ..
2829    0
2830    0
2831    0
2832    0
2833    0
Name: excerpt2, Length: 2834, dtype: int64

In [59]:
X = df.drop(['target','excerpt'],axis=1)

In [60]:
y = df['target']

In [61]:
X.columns

Index(['standard_error', 'words1', 'words2', 'words3', 'words_to_target1',
       'words_to_target2', 'words_to_target3', 'chars1', 'chars2', 'chars3',
       ...
       'excerpt26823', 'excerpt26824', 'excerpt26825', 'excerpt26826',
       'excerpt26827', 'excerpt26828', 'excerpt26829', 'excerpt26830',
       'excerpt26831', 'excerpt26832'],
      dtype='object', length=26846)

In [62]:
X.shape

(2834, 26846)

In [63]:
y.shape

(2834,)

In [64]:
from sklearn.model_selection import train_test_split

In [65]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [66]:
from sklearn.pipeline import Pipeline
from catboost import CatBoostRegressor
import xgboost as xgb
import lightgbm as lgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor, BaggingRegressor, ExtraTreesRegressor, GradientBoostingRegressor, StackingRegressor, VotingRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [67]:
def run_model(model, X_train, y_train, X_test, y_test):
    
    # Fit Model Training
    model.fit(X_train, y_train)
    
    # Get Metrics
    preds = model.predict(X_test)
    mae = mean_absolute_error(y_test, preds)
    rmse = np.sqrt(mean_squared_error(y_test, preds))
#     print(f'MAE: {mae}')
    print(f'RMSE: {rmse}')

In [68]:
model = lgb.LGBMRegressor()

run_model(model, X_train, y_train, X_test, y_test)

RMSE: 0.6637360322915694

In [69]:
# model = CatBoostRegressor()

# run_model(model, X_train, y_train, X_test, y_test)

In [70]:
# model = xgb.XGBRegressor()

# run_model(model, X_train, y_train, X_test, y_test)

In [71]:
# model = xgb.XGBRFRegressor()

# run_model(model, X_train, y_train, X_test, y_test)

In [72]:
# model = RandomForestRegressor()

# run_model(model, X_train, y_train, X_test, y_test)