In [2]:
import numpy as np

In [4]:
np.sqrt(2)

1.4142135623730951

In [ ]:
x >= 1

In [43]:
np.sqrt(10)

3.1622776601683795

In [60]:
sequence = []

for n in range(1,20):
    x = 2 * int(np.sqrt(n))
    sequence.append(x)
    print(x)

2
2
2
4
4
4
4
4
6
6
6
6
6
6
6
8
8
8
8

In [61]:
sequence

[2, 2, 2, 4, 4, 4, 4, 4, 6, 6, 6, 6, 6, 6, 6, 8, 8, 8, 8]

In [62]:
unique = set(sequence)

In [63]:
unique

{2, 4, 6, 8}

In [72]:
out = ['4', '4', '5']

In [73]:
print(' '.join(out))

4 4 5

In [74]:
import numpy as np
def solve (Q, query):
    
    out_ = ['4',' ','4',' ','3']
    print(''.join(out_))

Q = int(input())
query = [list(map(int, input().split())) for i in range(Q)]

out_ = solve(Q, query)
print (' '.join(map(str, out_)))

1
11
4 4 3

TypeError: 'NoneType' object is not iterable

In [80]:
4 ** 0.5

2.0

In [78]:
2**3

8